<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.4/dayjs.min.js" integrity="sha512-0fcCRl828lBlrSCa8QJY51mtNqTcHxabaXVLPgw/jPA5Nutujh6CbTdDgRzl9aSPYW/uuE7c4SffFUQFBAy6lg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

        <link rel="stylesheet" href="css/style.css">
        <title>Boolzapp</title>
    </head>
    <body>
        
        <section id="background">
            <div id="backTop"></div>
            <div id="backBottom"></div>
        </section>

        <section id="root">
            <main>
                <section id="main-left">
                    <div class="nameUser">
                        <div class="nameUserLeft">
                            <img src="img/avatar_io.jpg" alt="">
                            <h3>Nome Utente</h3>
                        </div>
                        <div class="nameUserRight">
                            <i class="fas fa-circle-notch"></i>
                            <i class="fas fa-comment-alt"></i>
                            <i class="fas fa-ellipsis-v"></i>
                        </div>
                    </div>
                    <div class="notify">
                        <div class="notifyIcon">
                            <i class="fas fa-bell-slash"></i>
                        </div>
                        <div>
                            <div class="hnotify">Ricevi notifiche di nuovi messaggi</div>
                            <a class="activatorNotify" href="">Attiva notifiche despktop</a>
                        </div>
                        
                    </div>
                    <div class="search">
                        <button><i class="fas fa-search"></i></button>
                        
                        <input 
                        type="text" 
                        placeholder="Cerca o inizia una nuova chat"
                        v-model="searchName"
                        @keyup.enter="searchUser"
                        >
                    </div>
                    <div id="contacts">
                        <div v-for="(contact, index) in contacts" 
                        class="contact" 
                        @click="getUserActive(index)"
                        :class="index == userNumber ? 'active' : ''"
                        >
                            <div class="contactIcon">
                                <img :src="getSrcUsersImage(index)" :alt="contacts[userNumber].name">
                            </div>
                            <div class="nameContact">
                                <div>{{ getUsersName(index) }}</div>
                                <p >{{ getLastMessage(index) }}</p>
                            </div>
                            <div class="dateContact">
                                <div>{{ getLastDate(index) }}</div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="main-right">
                    <div class="userNameMessage">
                        <div class="nameUser">
                            <div class="nameUserLeft">
                                <img :src="getSrcUsersImage(userNumber)" :alt="contacts[userNumber].name">
                            </div>
                            <div class="messageNameRight">
                                <div>{{ contacts[userNumber].name }}</div>
                                <p>Ultimo accesso oggi alle 10/01/2020 16:15:22 </p>
                            </div>
                            <div class="nameUserRight">
                                <i class="fas fa-circle-notch"></i>
                                <i class="fas fa-comment-alt"></i>
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                    </div>
                    <div id="message">
                        <div class="message" >
                            <section v-for="(message, index) in contacts[userNumber].messages" :class="message.status">
                                <div :class="message.status">
                                    <p>{{ message.text }}</p>
                                    <span>{{ message.date }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sendMessage">
                        <div class="emoji">
                            <i class="far fa-smile"></i>
                        </div>
                        <div class="text">
                            <input 
                            type="text" 
                            placeholder="Scrivi un messaggio"
                            v-model="newMessage"
                            @keyup.enter="addMessage">
                        </div>
                        <div class="vocal">
                            <i class="fas fa-microphone"></i>
                        </div>
                    </div>
                </section>
            </main>
        </section>
        
        <!-- collegamento del file js -->
        <script src="js/script.js"></script>
    </body>
</html>